<form action="/current" method="post">
    
    <div>
        
    <input type="submit" value="Click to show all members" >
    </div><br><br>

    <a href="/register">Add New Member</a>
    <a href="/searchData">Search Member</a>
    <a href="/updateData">Update Member</a>
    </form>
    

    