
    <form action="/searchId" method="post">
    <div>
        <label>Choose the column to search:</label>
        <select name="column" id="id">
          <option value="id">ID</option>
          <option value="name">Name</option>
        </select>
        <br>
        <%= key %><input type="text" name="searchText">
        <br><br>
        <input type="submit" value="Submit">

    </div><br><br>

    
    <a href="/register">Add Data</a>
    <a href="/updateData">Update Data</a>

    </form>
