

    <form action="/updateId" method="post">
     
    <div>
    ID(Search Key): <input type="text" name="id"><br>    
    New Name: <input type="text" name="name"><br>
    New Department: <select name="department" id="id">
        <option value="marketing">Marketing</option>
        <option value="it">IT</option>
        <option value="finance">Finance</option>
        <option value="account">Accounting</option>
        <option value="lab">Lab</option>
      </select><br>
    New Email: <input type="text" name="email"><br><br>
    <input type="submit" value="Update"><br>

    </div><br><br>

    <a href="/register">Add Data</a>
    <a href="/profile">Search Data</a>
    </form>

    

   
