

    <form action="/updateId" method="post">
     
    <div>
    ID(Search Key): <input type="text" name="id"><br>    
    New Name: <input type="text" name="name"><br>
    New Description: <input type="text" name="desc">
    <input type="submit" value="Update"><br>

    </div><br><br>

    <a href="/register">Add Data</a>
    <a href="/profile">Search Data</a>
    </form>

    

   
